* {
    margin: 0px;
    padding: 0px;
}

html, body, .container {
    height: 100vh;
}
nav ul li {
    font-size: 1.5em;
}
.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-areas:
            ".header header."
            ".tekstl tekstr."
            ".meer meer."
            ".footer footer.";

}
.header {
    grid-area: header;
    background-color: lightblue;
}
.tekstl {
    grid-area: tekstl;
    display: flex;

}
div#fotos {
    display: flex;
    align-items: flex-start;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;

}
.item {
    display: flex;
    align-items: start;
    width: 50%;
    padding-left: 20px;
}



.tekstr {
    grid-area: tekstr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "item2 item3"
            "plaatje2 plaatje2";
}
.item2 {
    grid-area: item2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item3 {
    grid-area: item3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 20px;
}
.plaatje2{
    grid-area: plaatje2;
    display: flex;
    justify-content: flex-start;

}
.meer {
    grid-area: meer;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    grid-area: footer;
    grid-area: footer;
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}
li {
    display: inline-block;
    padding-left: 20px;
}
li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}
img {
    margin-bottom: 20px;
}
@media all and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-areas: "header header "
        "tekstr tekstr"
        "tekstl tekstl"
        "meer meer"
        "footer footer";

    }
    img {
        margin: 10px;
    }
    .header {
        width: 1100px;
    }

    .tekstl {
        padding-left: 10px;
    }
    .footer {
        width: 1100px;
    }

    .meer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

    }
}

@media all and (max-width: 1048px){
    .container {
        grid-template-areas:
                "header header"
                "tekstl tekstl"
                "tekstr tekstr"
                "meer meer "
                "footer footer";
    }
    .header {
        width: 1048px;
    }
    .footer {
        width: 1048px;
    }
    .meer {
        display: grid;
        flex-flow: column;
    }
    .plaatje2 {
        margin-left: 10px;
        margin-top: 10px;
    }
    .tekstr{
        padding-left: 10px;
    }
    .tekstl {
        padding-left: 10px;
    }


}

@media all and (max-width: 700px){
    .container {
        grid-template-areas: "header header"
        "tekstl tekstl"
        "tekstr tekstr"
        "meer meer"
        "footer footer";
        grid-gap: 10px;
    }

    .meer {
        display: flex;
        flex-flow: column;
        margin-left: 10px;
    }
    .header {
        width: 700px;

    }

    .footer {
        width: 700px;
    }
    ul {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    li {
        display: inline-block;
        border-top: 1px solid white;
    }
    .plaatje2 {
        margin-top: 10px;
    }
    .tekstl {
        padding-left: 10px;
    }
    .tekstr {
        padding-left: 10px;
    }




}