* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
div#wrapper {
    background-color: rgb(250,241,234);
}

header{
    background-color:rgb(192,240,223);
    text-align:center;
}

img#logo {
    width: 320px;
}

img {
    width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;

}

li {
    background-color: rgb(128,128,128);
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid white;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

@media all and (min-width: 550px){
    ul {
        background-color: rgb(128, 128, 128);
        border-top: solid white;

    }
    li {
    display: inline-block;
        border: none;
}
}

h3 {
    color: rgb(220,106,94);
    font-size: 22px;
    font-weight: 600;
}
/* -- Section en Footers -- */

section,footer {
    padding: 20px;
}

@media all and (min-width: 550px){
    section#Nieuws{
        width: 40%;
        float: left ;
    }

    section#Instrumenten {
        width: 60%;
        float:right;
    }
}
@media all and (min-width: 920px){
    section#Nieuws{
        width: 30%;
        float: left ;
    }

    section#Instrumenten {
        width: 70%;
        float:right;
    }
    article {
        display: inline-block;
        width: 48%;
        margin-right: 20px;
    }
    article:nth-child(even) {
        margin-right: 0px;

    }
    @media all and (min-width: 1200px){
        div#wrapper{
            width: 1200px;
            margin: auto;
        }
    }
}

footer {
    background-color: rgb(128,128,128);
    color: white;
    clear: both;
}

footer h3 {
    color: white;
}

